.resume__screen {
  width: 100%;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.cv__info {
  left: calc(50% - 822px / 2);

  background: #ffffff;
  border: 0.8px solid #000000;
  top: 54px;
  position: absolute;
}
