.general__screen,
.experience__screen {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}
.general__screen--left .general__screen--header {
  font-size: 24px;
}
.general__screen--line {
  height: 0px;
  width: 798px;
  border: 1px solid #1a1a1a;
}
form .general__screen--inputs h3,
form .last--inputs h3 {
  font-size: 16px;
  font-family: HelveticaNeue;
}

.general__screen--header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-right: 60px;
  width: 100%;
}
.general__screen--header .top {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;

}
.arrow__icon {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 45px;
}
.arrow__icon img {
  width: 9.21px;
  height: 16px;
}
.general__screen--left h3 {
  font-size: 16px;
  font-weight: bold;
}

.top h3 {
  font-size: 24px;
  font-weight: 700;
  font-family: HelveticaNeue;
}

.general__screen--left {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  gap: 3.5rem;
  width: 100%;
}
.general__screen--inputs,
.first__two--inputs {
  width: 100%;
}

.general__screen--left input,
select {
  height: 48px;
  border-radius: 4px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  margin: 7px 0;
  font-size: 16px;
  padding-left: 10px;
}
.first__two--inputs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 796px;

}
.first__two--inputs h3,.experience__form--container h3{
  font-size: 16px;
  font-family: HelveticaNeue;
  font-weight: 500;
}

.first__two--inputs input {
  width: 371px;
}
.first__two--inputs p, .experience__form--container p {
  color: #2e2e2e;
  font-family: HelveticaNeue;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
}

form .last--inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.last--inputs input {
  width: 100%;
}
.last--inputs .about__me textarea {
  width: 100%;
  padding: 8px 15px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
  font-size: 16px;
  font-family: "HelveticaNeue";
  font-weight: 400;
}

.general__screen .next--btn
 {
  position: absolute;
  bottom: 100px;
  left: 797px;
  background-color: #6b40e3;
  width: 151px;
  height: 48px;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0.08em;
  border-radius: 4px;
  border: none;
}
.last--inputs .image__upload {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.last--inputs .image__upload label {
  font-size: 14px;
  font-family: HelveticaNeue;
  font-weight: 400;
  color: #FFFFFF;
}
.last--inputs .image__upload h3  {
  font-size: 18px;
  font-family: HelveticaNeue;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 798px;
}

form p,
form input {
  opacity: 0.7;
  font-family: HelveticaNeue;
  position: relative;
}

.image__upload input[type="file"] {
  display: none;
}

.last--inputs .image__upload label {
  width: 107px;
  height: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0e80bf;
  border: none;
  padding-bottom: 3px;
  color: #ffffff;
  border-radius: 4px;
}
form .last--inputs h3, form .last {
  font-size: 16px;
  font-family: HelveticaNeue;
  font-weight: 500;
}
.red--border {
  border: 1px solid red;
}

.input__container {
  position: relative;
}

.top p {
  font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 400px;
}
.green_icon {
  position: absolute;
  top: 40px;
  right: 8px;
}
.red__icon {
  position: absolute;
  top: 40px;
  right: -35px;
}

.about__me textarea::-webkit-scrollbar {
  width: 0;
}
.input__container p{
  font-family: HelveticaNeue;
  font-weight: 300;
}

.input__title {
  font-size: 16px;
  font-family: HelveticaNeue;
  font-weight: 500;
}
.general__area {
  height: 123px;
}