* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }
  @font-face {
    font-family: HelveticaNeue;
    src: url("/src/assets/fonts/HelveticaNeue.ttc");
  }
  @font-face {
    font-family: HelveticaNeue-italic;
    src: url("/src/assets/fonts/HelveticaNeue-LightItalic-09.ttf");
  }

::-webkit-scrollbar {
  width: 3px;
}

